<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu1228.mapper.SearchMapper">



	<select id="query_trade_mark_by_class_2_id" resultType="com.atguigu1228.bean.T_MALL_TRADE_MARK"
		parameterType="Map">
		select
		tm.*
		from
		t_mall_class_2 class2,
		t_mall_class_1
		class1,
		t_mall_tm_class tm_class,
		t_mall_trade_mark tm
		where class2.flbh1
		= class1.Id
		and class1.Id = tm_class.flbh1
		and tm_class.pp_id = tm.Id
		and class2.Id = #{class_2_id}
	</select>
	<resultMap type="com.atguigu1228.bean.OBJECT_T_MALL_SKU" id="query_sku_page_by_class_2_id_map"
		autoMapping="true">
		<result column="sku_id" property="id" />
		<association property="spu"
			javaType="com.atguigu1228.bean.T_MALL_PRODUCT" autoMapping="true">
			<result column="spu_id" property="id" />
		</association>
		<association property="tm"
			javaType="com.atguigu1228.bean.T_MALL_TRADE_MARK" autoMapping="true">
			<result column="tm_id" property="id" />
		</association>
	</resultMap>
	<select id="query_sku_page_by_class_2_id" parameterType="int"
		resultMap="query_sku_page_by_class_2_id_map">
		select sku.*,spu.*,tm.*,sku.id as sku_id,spu.id as
		spu_id,tm.id as
		tm_id from
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_trade_mark tm,
		t_mall_tm_class tm_class,
		t_mall_class_1 class1
		where sku.shp_id =
		spu.Id
		and spu.flbh1 = class1.Id
		and class1.Id =
		tm_class.flbh1
		and tm.id
		= tm_class.pp_id
		and spu.pp_id = tm.Id
		and
		spu.flbh2 =#{class_2_id}
		<if test="pp_id!=0">
			and spu.pp_id = #{pp_id}
		</if>
	</select>
	<resultMap type="com.atguigu1228.bean.OBJECT_T_MALL_SKU" id="query_sku_page_by_class_2_id_attr_value_map"
		autoMapping="true">
		<result column="sku_id" property="id" />
		<association property="spu"
			javaType="com.atguigu1228.bean.T_MALL_PRODUCT" autoMapping="true">
			<result column="spu_id" property="id" />
		</association>
		<association property="tm"
			javaType="com.atguigu1228.bean.T_MALL_TRADE_MARK" autoMapping="true">
			<result column="tm_id" property="id" />
		</association>
	</resultMap>
	<select id="query_sku_page_by_class_2_id_attr_value" resultMap="query_sku_page_by_class_2_id_attr_value_map"
		parameterType="Map">
		select sku.*,spu.*,tm.*,sku.id as sku_id,spu.id as
		spu_id,tm.id as
		tm_id from
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_trade_mark tm,
		t_mall_tm_class tm_class,
		t_mall_class_1 class1
		where sku.shp_id =
		spu.Id
		and spu.flbh1 = class1.Id
		and class1.Id =
		tm_class.flbh1
		and tm.id
		= tm_class.pp_id
		and spu.pp_id = tm.Id
		and
		spu.flbh2 =#{class_2_id}
		<if test="pp_id!=0">
			and spu.pp_id = #{pp_id}
		</if>
		${sql}
	</select>

	<resultMap type="com.atguigu1228.bean.OBJECT_T_MALL_ATTR" id="select_attr_list_by_class_2_id_map"
		autoMapping="true">
		<result column="attr_id" property="id" />
		<collection property="list_value" ofType="com.atguigu1228.bean.T_MALL_VALUE"
			autoMapping="true">
			<result column="value_id" property="id" />
		</collection>
	</resultMap>
	<select id="select_attr_list_by_class_2_id" resultMap="select_attr_list_by_class_2_id_map">
		select attr.*,val.*,attr.id as attr_id ,val.id as value_id from
		t_mall_attr attr , t_mall_value val
		<where>
			attr.id = val.shxm_id
			<if test="class_2_id !=0">
				and attr.flbh2=#{class_2_id}
			</if>
		</where>
	</select>

	<resultMap type="com.atguigu1228.bean.OBJECT_T_MALL_SKU" id="select_sku_detail_map"
		autoMapping="true">
		<result column="sku_id" property="id" />
		<result column="spu_id" property="shp_id" />
		<association property="spu"
			javaType="com.atguigu1228.bean.T_MALL_PRODUCT" autoMapping="true">
			<result column="spu_id" property="id" />
		</association>
		<association property="tm"
			javaType="com.atguigu1228.bean.T_MALL_TRADE_MARK" autoMapping="true">
			<result column="tm_id" property="id" />
		</association>
		<collection property="list_attr_value_name"
			ofType="com.atguigu1228.bean.OBJECT_ATTR_VALUE_NAME" autoMapping="true">
		</collection>
		<collection property="list_image"
			ofType="com.atguigu1228.bean.T_MALL_PRODUCT_IMAGE" autoMapping="true">
		</collection>
	</resultMap>
	<select id="select_sku_detail_by_sku_spu_id" parameterType="Map"
		resultMap="select_sku_detail_map">
		select img.*,sku.*,spu.*,tm.*,sku.id as sku_id,spu.id as
		spu_id,tm.id as
		tm_id,attr.shxm_mch as
		attr_name,CONCAT(val.shxzh,val.shxzh_mch) as
		value_name from
		t_mall_sku sku,
		t_mall_sku_attr_value
		attr_value,
		t_mall_attr attr,
		t_mall_value val,
		t_mall_product spu,
		t_mall_trade_mark tm,
		t_mall_product_image img
		where
		sku.Id =
		attr_value.sku_id
		and
		attr_value.shxm_id = attr.Id
		and
		attr_value.shxzh_id = val.Id
		AND
		sku.shp_id = spu.Id
		and
		spu.pp_id = tm.Id
		and
		spu.id = img.shp_id
		and
		sku.id = #{sku_id}
	</select>
	<select id="select_other_sku_by_spu_id" resultType="com.atguigu1228.bean.OBJECT_T_MALL_SKU"
	parameterType="Map">
	select sku.id,spu.id as
		shp_id,spu.shp_tp,sku.sku_mch
		from
		t_mall_sku sku,
		t_mall_product spu
		where sku.shp_id = spu.Id
		and
		spu.id = #{spu_id}
	</select>
</mapper>
